.sing {
  width: 450px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  gap: 15px;
}
.sing h2 {
  font-size: 1.8rem;
  color: var(--Prcl);
  text-align: center;
}
.form-controle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-controle label {
  font-size: 1.1rem;
}
.form-controle input,
.form-controle select {
  padding: 5px 12px;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 1.2rem;
  outline: none;
  border: solid #111111ac 1.5px;
  color: var(--Prcl);
}
.form-controle textarea {
  font-size: 1.2rem;
  padding: 5px 12px;
  resize: none;
  transition: 0.5s;
  border-radius: 8px;
  outline: none;
  border: solid #111111ac 1.5px;
  color: var(--Prcl);
}
/* .sing .form-controle input:focus,
.sing .form-controle select:focus,
.sing .form-controle textarea:focus {
  background-color: #e8f0fe;
} */
