* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --Prcl: #0033ff;

  --low-white: #eee;
  --low-black: #111;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.auth-container {
  height: 100svh;
  width: 100%;
  background-color: var(--low-white);
}
.f-colum {
  display: flex;
  flex-direction: column;
}
button {
  padding: 8px 35px;
  font-size: 1.1rem;
  background-color: var(--Prcl);
  color: var(--low-white);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  align-self: flex-end;
}
button:hover {
  opacity: 0.8;
}
.btn-large {
  width: 100%;
}
.f-end {
  display: flex;
  justify-content: end;
}
a {
  color: var(--Prcl);
}
.error {
  color: #ff1100;
  background-color: #ff000046;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.error i {
  padding: 0 10px;
}
.Link {
  text-decoration: none;
}
.home {
  padding-top: 60px;
}
