* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --Prcl: #0033ff;

  --low-white: #eee;
  --low-black: #111;
}
.App,
.home {
  overflow: hidden;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.container h2 {
  font-size: 6vmin;
  text-align: center;
  color: var(--low-black);
}
.auth-container {
  height: 100svh;
  width: 100%;
  background-color: var(--low-white);
}
.f-colum {
  display: flex;
  flex-direction: column;
}
button {
  padding: 8px 35px;
  font-size: 1.1rem;
  background-color: var(--Prcl);
  color: var(--low-white);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  /* align-self: flex-end; */
}
button:hover {
  opacity: 0.8;
}
.btn-large {
  width: 100%;
}
.btn-des {
  background-color: var(--low-white);
  color: var(--low-black);
}
.f-end {
  display: flex;
  justify-content: end;
}
a {
  color: var(--Prcl);
}
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--low-white);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--Prcl);
}
.error {
  color: #ff1100;
  background-color: #ff000046;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.error i {
  padding: 0 10px;
}
.Link {
  text-decoration: none;
}
.home {
  padding-top: 60px;
  width: 100%;
}
.img-c {
  background-position: center;
  background-size: cover;
}
.sm-screen {
  display: none;
}
/* React Material UI/UX */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: none !important;
  max-height: none !important;
  border-radius: 15px !important;
  overflow: hidden !important;
}

.css-ja5taz-MuiTooltip-tooltip {
  background-color: var(--Prcl) !important;
  color: var(--low-white) !important;
  padding: 10px 15px !important;
  font-size: 0.8rem !important;
  font-family: Poppins !important;
  border-radius: 30px !important;
}
.welcome {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.welcome h1 {
  font-size: 15vmin;
}
.welcome span {
  color: var(--Prcl);
}
.welcome button {
  padding: 2vmin 7vmin;
  font-size: 3vmin;
}
.welcome a {
  text-decoration: none;
}
