.post {
  gap: 15px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.post header {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* .post-info {
  gap: 9px;
} */
.post-info p {
  opacity: 0.8;
  font-size: 0.9rem;
}
.post-info h4 {
  font-size: 1.1rem;
}
.post-img {
  width: 100%;
  background-color: var(--low-white);
  border-radius: 10px;
  margin: 0.5rem 0;
  box-shadow: 0 0 15px 3px #00000025;
  background-position: center;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.post-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-desc {
  padding-left: 10px;
}
.post-desc {
  white-space-collapse: break-spaces;
}
.post-action p {
  padding: 1rem 3rem;
  /* background-color: var(--low-white); */
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.post-action p i {
  font-size: 1.3rem;
}
.post-action p:nth-child(1) {
  color: var(--Prcl);
}
.post-action p:nth-child(2) {
  color: var(--low-black);
}
.post-action p:nth-child(3) {
  color: #ff7300;
}
.post-action p:nth-child(1):hover {
  background-color: #0033ff41;
  box-shadow: 0 0 20px 5px #0033ff41;
}
.post-action p:nth-child(2):hover {
  background-color: #11111141;
  box-shadow: 0 0 20px 5px #11111141;
}
.post-action p:nth-child(3):hover {
  background-color: #ff730041;
  box-shadow: 0 0 20px 5px #ff730041;
}
.post-profile {
  background-position: center;
  background-size: cover;
  background-color: var(--Prcl);
  display: flex;
  box-shadow: 0 0 5px 2px #00000025;
  align-items: center;
  justify-content: center;
  color: var(--low-white);

  min-width: 60px;
  height: 60px;

  font-size: 2rem;
  border-radius: 50%;
}
/* .comment-dialoge {

} */
.post h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.post-info {
  width: 100%;
}
.post h4 button {
  scale: 0.8;
  padding: 0.5rem 1.5rem;
}
